* {
  margin: 0;
}

body {
  padding: 20px 100px;
  background: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  color: tomato;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
}

.class-comp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-left: 1px solid;
}

.class-comp button {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 3px 0;
  width: 50px;
  background-color: white;
  cursor: pointer;
}

.class-comp p {
  margin: 0 20px;
}

.func-comp input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

.func-comp p {
  color: gray;
}